*
!.gitignore
!README.adoc
!README.md
!CHANGELOG.adoc
!changelog-details/
!changelog-details/**
!LICENSE
!package.json
!pnpm-lock.yaml
!.github/
!.github/workflows/
!.github/workflows/publish.yml
!tsconfig.json
!playwright.config.ts
!src/
!src/**
!schema/
!schema/**
!bin/
!bin/**
!test/
!test/**
!browser/
!browser/**
